In [1]:
import pandas as pd
import os

In [2]:
os.chdir('/Users/alisdghnia/Desktop/School - Graduate/Advanced Database Management - Spring 2023/Final Project')

In [38]:
df = pd.read_csv('rich_list_clean.csv')
df

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency)
0,1,BTC,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,248597.0,1.18,0.0
1,1,BTC,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,178010.0,0.85,-20000.0
2,1,BTC,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,127351.0,0.61,0.0
3,1,BTC,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,119347.0,0.57,0.0
4,1,BTC,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,94643.0,0.45,0.0
...,...,...,...,...,...,...
1395,15,DAI,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,83585.0,0.06,0.0
1396,15,DAI,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,81127.0,0.05,0.0
1397,15,DAI,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,80383.0,0.05,-21110.0
1398,15,DAI,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,79464.0,0.05,-10.0
1399,15,DAI,0x3178aa92bf66355664c92684f1dcfe1857a873a3,78595.0,0.05,0.0

In [25]:
df_ticker = pd.read_csv('DIM_TICKER.csv')
df_ticker

    TICKER_ID symbol                 name  rank
0       10001    BTC              Bitcoin     1
1       10002    ETH             Ethereum     2
2       10003   USDT               Tether     3
3       10004    BNB          BinanceCoin     4
4       10005   USDC              USDCoin     5
..        ...    ...                  ...   ...
95      10096    FTT             FTXToken    96
96      10097   NEXO                 Nexo    97
97      10098      T     ThresholdNetwork    98
98      10099    SSV           SSVNetwork    99
99      10100    BAT  BasicAttentionToken   100

[100 rows x 4 columns]

In [42]:
# the rows for distinct wallet_id
df_distinct = df.drop_duplicates(subset=['wallet_id'])

# give the distinct wallet_id a unique id starting from 100000
df_distinct['wallet_id_2'] = range(100001, 100001+len(df_distinct))
df_distinct

/var/folders/_9/qq7pw_fx125c812gfv1wl_180000gn/T/ipykernel_78944/2201620603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_distinct['wallet_id_2'] = range(100001, 100001+len(df_distinct))

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),symbol,TICKER_ID,wallet_id_2
0,1,BTC,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,248597.0,1.18,0.0,BTC,10001,100001
1,1,BTC,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,178010.0,0.85,-20000.0,BTC,10001,100002
2,1,BTC,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,127351.0,0.61,0.0,BTC,10001,100003
3,1,BTC,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,119347.0,0.57,0.0,BTC,10001,100004
4,1,BTC,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,94643.0,0.45,0.0,BTC,10001,100005
...,...,...,...,...,...,...,...,...,...
1395,15,DAI,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,83585.0,0.06,0.0,DAI,10014,101339
1396,15,DAI,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,81127.0,0.05,0.0,DAI,10014,101340
1397,15,DAI,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,80383.0,0.05,-21110.0,DAI,10014,101341
1398,15,DAI,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,79464.0,0.05,-10.0,DAI,10014,101342
1399,15,DAI,0x3178aa92bf66355664c92684f1dcfe1857a873a3,78595.0,0.05,0.0,DAI,10014,101343

In [43]:
# find the wallet_id_2 for each wallet_id in the original df
df = pd.merge(df, df_distinct[['wallet_id', 'wallet_id_2']], on='wallet_id', how='left')
df

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),symbol,TICKER_ID,wallet_id_2
0,1,BTC,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,248597.0,1.18,0.0,BTC,10001,100001
1,1,BTC,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,178010.0,0.85,-20000.0,BTC,10001,100002
2,1,BTC,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,127351.0,0.61,0.0,BTC,10001,100003
3,1,BTC,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,119347.0,0.57,0.0,BTC,10001,100004
4,1,BTC,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,94643.0,0.45,0.0,BTC,10001,100005
...,...,...,...,...,...,...,...,...,...
1395,15,DAI,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,83585.0,0.06,0.0,DAI,10014,101339
1396,15,DAI,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,81127.0,0.05,0.0,DAI,10014,101340
1397,15,DAI,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,80383.0,0.05,-21110.0,DAI,10014,101341
1398,15,DAI,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,79464.0,0.05,-10.0,DAI,10014,101342
1399,15,DAI,0x3178aa92bf66355664c92684f1dcfe1857a873a3,78595.0,0.05,0.0,DAI,10014,101343

In [21]:
df[df.wallet_id == '0xbe0eb53f46cd790cd13851d5eff43d12404d33e8']

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),wallet_id_2
102,2,ETH,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,1.996008e+06,1.66,0.0,100103
1102,13,BUSD,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,1.000000e+09,13.23,0.0,100103

In [19]:
# rows that have the same wallet_id_2
df[df.duplicated(subset=['wallet_id'], keep=False)]

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),wallet_id_2
102,2,ETH,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,1996008.0,1.66,0.0,100103
106,2,ETH,0xf977814e90da44bfa03b6295a0616a897441acec,1047741.0,0.87,0.0,100107
107,2,ETH,0x28c6c06298d514db089934071355e5743bf21d60,602032.0,0.50,49660.0,100108
108,2,ETH,0x47ac0fb4f2d84898e4d9e7b4dab3c24507a6d503,584999.0,0.49,0.0,100109
129,2,ETH,0xf3b0073e3a7f747c7a38b36b805247b222c302a3,213325.0,0.18,2186.0,100130
...,...,...,...,...,...,...,...
1316,15,DAI,0xdfba8ad57d2c62f61f0a60b2c508bcdeb182f855,968025.0,0.64,250720.0,100464
1321,15,DAI,0x15b9d20bcaa4f65d9004d2bebac4058445fd5285,700174.0,0.46,-234642.0,100265
1329,15,DAI,0x3e0199792ce69dc29a0a36146bfa68bd7c8d6633,548140.0,0.36,351848.0,100237
1332,15,DAI,0xba12222222228d8ba445958a75a0704d566bf2c8,462348.0,0.31,80765.0,100421
1333,15,DAI,0x9fb1750da6266a05601855bb62767ebc742707b1,400000.0,0.26,-200000.0,100241

In [30]:
df_ticker

    TICKER_ID symbol                 name  rank
0       10001    BTC              Bitcoin     1
1       10002    ETH             Ethereum     2
2       10003   USDT               Tether     3
3       10004    BNB          BinanceCoin     4
4       10005   USDC              USDCoin     5
..        ...    ...                  ...   ...
95      10096    FTT             FTXToken    96
96      10097   NEXO                 Nexo    97
97      10098      T     ThresholdNetwork    98
98      10099    SSV           SSVNetwork    99
99      10100    BAT  BasicAttentionToken   100

[100 rows x 4 columns]

In [39]:
# add ticker_id from df_ticker to df
df = pd.merge(df, df_ticker[['symbol', 'TICKER_ID']], left_on='ticker' ,right_on='symbol', how='left')
df

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),symbol,TICKER_ID
0,1,BTC,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,248597.0,1.18,0.0,BTC,10001
1,1,BTC,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,178010.0,0.85,-20000.0,BTC,10001
2,1,BTC,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,127351.0,0.61,0.0,BTC,10001
3,1,BTC,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,119347.0,0.57,0.0,BTC,10001
4,1,BTC,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,94643.0,0.45,0.0,BTC,10001
...,...,...,...,...,...,...,...,...
1395,15,DAI,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,83585.0,0.06,0.0,DAI,10014
1396,15,DAI,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,81127.0,0.05,0.0,DAI,10014
1397,15,DAI,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,80383.0,0.05,-21110.0,DAI,10014
1398,15,DAI,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,79464.0,0.05,-10.0,DAI,10014
1399,15,DAI,0x3178aa92bf66355664c92684f1dcfe1857a873a3,78595.0,0.05,0.0,DAI,10014

In [46]:
df.drop(columns=['rank', 'ticker', 'currency_quantity (cryptocurrency)', 
                 'fraction_of_total (%)', 'seven_day_change (cryptocurrency)'], inplace=True)

,wallet_id,symbol,TICKER_ID,wallet_id_2
0,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,BTC,10001,100001
1,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,BTC,10001,100002
2,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,BTC,10001,100003
3,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,BTC,10001,100004
4,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,BTC,10001,100005
...,...,...,...,...
1395,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,DAI,10014,101339
1396,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,DAI,10014,101340
1397,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,DAI,10014,101341
1398,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,DAI,10014,101342
1399,0x3178aa92bf66355664c92684f1dcfe1857a873a3,DAI,10014,101343

In [47]:
df.drop(columns=['symbol'], inplace=True)

In [49]:
df.columns = ['wallet_guid', 'ticker_id', 'wallet_id']
df

                                            wallet_guid  ticker_id  wallet_id
0                    34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo      10001     100001
1     bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...      10001     100002
2                    3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ      10001     100003
3                    1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd      10001     100004
4            bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt      10001     100005
...                                                 ...        ...        ...
1395         0xc1f8fe4afed59e461cbea887c3a578076ffb707f      10014     101339
1396         0xb5714084eef0f02efdd145dfb3fe2e3290591d7b      10014     101340
1397         0x7b052756f8cb2fdcd9de2f1665d0d6648317346a      10014     101341
1398         0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32      10014     101342
1399         0x3178aa92bf66355664c92684f1dcfe1857a873a3      10014     101343

[1400 rows x 3 columns]

In [50]:
df.to_csv('DIM_WALLET.csv', index=False)