In [1]:
import pandas as pd
import os

In [2]:
os.chdir('/Users/alisdghnia/Desktop/School - Graduate/Advanced Database Management - Spring 2023/Final Project')

In [4]:
df = pd.read_csv('crypto_data_clean.csv')
df

,name,symbol,rank,price (USD),oneday (%),oneweek (%),marketcap (USD),volume (USD),circulating_supply (Crypto),full_marketcap (USD),max_supply (Crypto),oneday_low (USD),oneday_high (USD),volume_marketcap (%),market_dominance (%),onemonth_ROI (%),price_change (USD)
0,Bitcoin,BTC,1,20414.69,1.34,9.55,3.943169e+11,6.297829e+09,1.931535e+07,4.286711e+11,2.100000e+07,20065.34,20535.46,0.02,40.08,-6.10,267.92
1,Ethereum,ETH,2,1460.98,1.90,7.43,1.787858e+11,4.085408e+09,1.223739e+08,1.787527e+11,NaN,1429.22,1477.38,0.02,18.17,-4.03,26.95
2,Tether,USDT,3,1.01,0.57,0.73,7.263595e+10,1.286354e+10,7.211671e+10,7.366839e+10,NaN,1.00,1.01,0.18,7.38,NaN,0.01
3,BinanceCoin,BNB,4,275.15,0.41,4.37,4.344419e+10,2.792194e+08,1.578927e+08,5.500600e+10,2.000000e+08,271.60,278.45,0.01,4.41,-10.72,0.99
4,USDCoin,USDC,5,0.96,3.09,5.05,3.892764e+10,3.670431e+09,4.073633e+10,3.891542e+10,NaN,0.93,0.98,0.09,3.96,-4.38,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,FTXToken,FTT,96,1.04,1.86,22.75,3.404722e+08,3.484697e+06,3.288951e+08,3.638621e+08,3.521700e+08,1.00,1.04,0.01,0.03,-36.12,0.02
96,Nexo,NEXO,97,0.58,1.12,10.86,3.230640e+08,3.058157e+06,5.600000e+08,5.784000e+08,1.000000e+09,0.56,0.59,0.01,0.03,-20.04,0.02
97,ThresholdNetwork,T,98,0.03,0.95,25.93,3.143600e+08,7.917754e+06,1.000000e+10,3.298030e+08,1.051500e+10,0.03,0.03,0.03,0.03,-23.67,0.00
98,SSVNetwork,SSV,99,30.98,5.74,20.54,3.097900e+08,2.954511e+07,1.000000e+07,3.397911e+08,NaN,28.77,33.20,0.10,0.03,NaN,1.24
99,BasicAttentionToken,BAT,100,0.21,0.10,21.24,3.075496e+08,1.066840e+07,1.499511e+09,3.073500e+08,1.500000e+09,0.20,0.21,0.03,0.03,-24.76,0.00

In [8]:
DIM_TICKER_df = df[['symbol', 'name', 'rank']]
DIM_TICKER_df

   symbol                 name  rank
0     BTC              Bitcoin     1
1     ETH             Ethereum     2
2    USDT               Tether     3
3     BNB          BinanceCoin     4
4    USDC              USDCoin     5
..    ...                  ...   ...
95    FTT             FTXToken    96
96   NEXO                 Nexo    97
97      T     ThresholdNetwork    98
98    SSV           SSVNetwork    99
99    BAT  BasicAttentionToken   100

[100 rows x 3 columns]

In [9]:
# add primary key of TICKER_ID to DIM_TICKER_df dataframe
DIM_TICKER_df.insert(0, 'TICKER_ID', range(10001, 10001 + len(DIM_TICKER_df)))
DIM_TICKER_df

    TICKER_ID symbol                 name  rank
0       10001    BTC              Bitcoin     1
1       10002    ETH             Ethereum     2
2       10003   USDT               Tether     3
3       10004    BNB          BinanceCoin     4
4       10005   USDC              USDCoin     5
..        ...    ...                  ...   ...
95      10096    FTT             FTXToken    96
96      10097   NEXO                 Nexo    97
97      10098      T     ThresholdNetwork    98
98      10099    SSV           SSVNetwork    99
99      10100    BAT  BasicAttentionToken   100

[100 rows x 4 columns]

In [10]:
DIM_TICKER_df.to_csv('DIM_TICKER.csv', index=False)