In [1]:
import pandas as pd
import os

In [13]:
os.chdir('/Users/alisdghnia/Desktop/School - Graduate/Advanced Database Management - Spring 2023/Final Project')

In [14]:
df = pd.read_csv('exchange_wallets_clean.csv')
df

,ticker_name,exchange_name,exchange_token_balance (cryptocurrency),exchange_value (USD),one_day_change (cryptocurrency),seven_day_change (cryptocurrency),thirty_day_change (cryptocurrency)
0,BTC,Binance,421388.0000,1.283546e+10,-7270.97,4391.070000,51783.360000
1,BTC,Bitfinex,200979.0000,6.121802e+09,-587.35,6746.140000,7061.800000
2,BTC,OKX(OKEx),197720.0000,6.022552e+09,1308.95,-9630.410000,-38164.240000
3,BTC,Coincheck,39552.6500,1.204769e+09,-97.58,-297.110000,-441.090000
4,BTC,Crypto.com Exchange,30279.0700,9.222970e+08,-157.83,242.440000,-11857.040000
...,...,...,...,...,...,...,...
338,WBTC,BTSE,1.7910,5.462647e+04,0.00,0.000000,0.000000
339,WBTC,CEX.IO,1.7650,5.383758e+04,0.00,0.000000,0.600400
340,WBTC,Indodax,1.1030,3.364483e+04,0.00,0.016580,-0.017790
341,WBTC,BigONE,1.0050,3.066104e+04,0.00,0.000000,0.000000
342,WBTC,Coinone,0.7176,2.189009e+04,0.00,-0.001969,-0.002069

In [15]:
df.exchange_name.nunique()

69

In [16]:
# the rows for distinct wallet_id
df_distinct = df.drop_duplicates(subset=['exchange_name'])

# give the distinct wallet_id a unique id starting from 1
df_distinct['exchange_id'] = range(1, 1+len(df_distinct))
df_distinct

/var/folders/_9/qq7pw_fx125c812gfv1wl_180000gn/T/ipykernel_82016/3612601147.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_distinct['exchange_id'] = range(1, 1+len(df_distinct))

,ticker_name,exchange_name,exchange_token_balance (cryptocurrency),exchange_value (USD),one_day_change (cryptocurrency),seven_day_change (cryptocurrency),thirty_day_change (cryptocurrency),exchange_id
0,BTC,Binance,4.213880e+05,1.283546e+10,-7.270970e+03,4.391070e+03,5.178336e+04,1
1,BTC,Bitfinex,2.009790e+05,6.121802e+09,-5.873500e+02,6.746140e+03,7.061800e+03,2
2,BTC,OKX(OKEx),1.977200e+05,6.022552e+09,1.308950e+03,-9.630410e+03,-3.816424e+04,3
3,BTC,Coincheck,3.955265e+04,1.204769e+09,-9.758000e+01,-2.971100e+02,-4.410900e+02,4
4,BTC,Crypto.com Exchange,3.027907e+04,9.222970e+08,-1.578300e+02,2.424400e+02,-1.185704e+04,5
...,...,...,...,...,...,...,...,...
224,BUSD,BTSE,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,65
226,BUSD,FTX US,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,66
246,SHIB,Exmo,3.458889e+10,3.905080e+05,-5.000000e+08,4.100082e+08,-2.187494e+08,67
286,DAI,Bibox,5.222600e+02,5.228400e+02,0.000000e+00,0.000000e+00,-2.472700e+02,68
317,UNI,ZB,5.701470e+03,3.596606e+04,0.000000e+00,0.000000e+00,0.000000e+00,69

In [17]:
# find the wallet_id_2 for each wallet_id in the original df
df = pd.merge(df, df_distinct[['exchange_name', 'exchange_id']], on='exchange_name', how='left')
df

,ticker_name,exchange_name,exchange_token_balance (cryptocurrency),exchange_value (USD),one_day_change (cryptocurrency),seven_day_change (cryptocurrency),thirty_day_change (cryptocurrency),exchange_id
0,BTC,Binance,421388.0000,1.283546e+10,-7270.97,4391.070000,51783.360000,1
1,BTC,Bitfinex,200979.0000,6.121802e+09,-587.35,6746.140000,7061.800000,2
2,BTC,OKX(OKEx),197720.0000,6.022552e+09,1308.95,-9630.410000,-38164.240000,3
3,BTC,Coincheck,39552.6500,1.204769e+09,-97.58,-297.110000,-441.090000,4
4,BTC,Crypto.com Exchange,30279.0700,9.222970e+08,-157.83,242.440000,-11857.040000,5
...,...,...,...,...,...,...,...,...
338,WBTC,BTSE,1.7910,5.462647e+04,0.00,0.000000,0.000000,65
339,WBTC,CEX.IO,1.7650,5.383758e+04,0.00,0.000000,0.600400,53
340,WBTC,Indodax,1.1030,3.364483e+04,0.00,0.016580,-0.017790,41
341,WBTC,BigONE,1.0050,3.066104e+04,0.00,0.000000,0.000000,15
342,WBTC,Coinone,0.7176,2.189009e+04,0.00,-0.001969,-0.002069,34

In [18]:
df_ticker = pd.read_csv('DIM_TICKER.csv')
df_ticker

    TICKER_ID symbol                 name  rank
0       10001    BTC              Bitcoin     1
1       10002    ETH             Ethereum     2
2       10003   USDT               Tether     3
3       10004    BNB          BinanceCoin     4
4       10005   USDC              USDCoin     5
..        ...    ...                  ...   ...
95      10096    FTT             FTXToken    96
96      10097   NEXO                 Nexo    97
97      10098      T     ThresholdNetwork    98
98      10099    SSV           SSVNetwork    99
99      10100    BAT  BasicAttentionToken   100

[100 rows x 4 columns]

In [19]:
# add ticker_id from df_ticker to df
df = pd.merge(df, df_ticker[['symbol', 'TICKER_ID']], left_on='ticker_name' ,right_on='symbol', how='left')
df

,ticker_name,exchange_name,exchange_token_balance (cryptocurrency),exchange_value (USD),one_day_change (cryptocurrency),seven_day_change (cryptocurrency),thirty_day_change (cryptocurrency),exchange_id,symbol,TICKER_ID
0,BTC,Binance,421388.0000,1.283546e+10,-7270.97,4391.070000,51783.360000,1,BTC,10001
1,BTC,Bitfinex,200979.0000,6.121802e+09,-587.35,6746.140000,7061.800000,2,BTC,10001
2,BTC,OKX(OKEx),197720.0000,6.022552e+09,1308.95,-9630.410000,-38164.240000,3,BTC,10001
3,BTC,Coincheck,39552.6500,1.204769e+09,-97.58,-297.110000,-441.090000,4,BTC,10001
4,BTC,Crypto.com Exchange,30279.0700,9.222970e+08,-157.83,242.440000,-11857.040000,5,BTC,10001
...,...,...,...,...,...,...,...,...,...,...
338,WBTC,BTSE,1.7910,5.462647e+04,0.00,0.000000,0.000000,65,WBTC,10016
339,WBTC,CEX.IO,1.7650,5.383758e+04,0.00,0.000000,0.600400,53,WBTC,10016
340,WBTC,Indodax,1.1030,3.364483e+04,0.00,0.016580,-0.017790,41,WBTC,10016
341,WBTC,BigONE,1.0050,3.066104e+04,0.00,0.000000,0.000000,15,WBTC,10016
342,WBTC,Coinone,0.7176,2.189009e+04,0.00,-0.001969,-0.002069,34,WBTC,10016

# EXCHANGE_DATA TABLE CREATION

In [9]:
df.drop(columns=['ticker_name', 'exchange_name', 'symbol'], inplace=True)

# bring exchange_id and ticker_id to the front
cols = df.columns.tolist()
cols = cols[-2:] + cols[:-2]
df = df[cols]
df

,exchange_id,TICKER_ID,exchange_token_balance (cryptocurrency),exchange_value (USD),one_day_change (cryptocurrency),seven_day_change (cryptocurrency),thirty_day_change (cryptocurrency)
0,1,10001,421388.0000,1.283546e+10,-7270.97,4391.070000,51783.360000
1,2,10001,200979.0000,6.121802e+09,-587.35,6746.140000,7061.800000
2,3,10001,197720.0000,6.022552e+09,1308.95,-9630.410000,-38164.240000
3,4,10001,39552.6500,1.204769e+09,-97.58,-297.110000,-441.090000
4,5,10001,30279.0700,9.222970e+08,-157.83,242.440000,-11857.040000
...,...,...,...,...,...,...,...
338,65,10016,1.7910,5.462647e+04,0.00,0.000000,0.000000
339,53,10016,1.7650,5.383758e+04,0.00,0.000000,0.600400
340,41,10016,1.1030,3.364483e+04,0.00,0.016580,-0.017790
341,15,10016,1.0050,3.066104e+04,0.00,0.000000,0.000000
342,34,10016,0.7176,2.189009e+04,0.00,-0.001969,-0.002069

In [11]:
df.rename(columns = {'TICKER_ID': 'ticker_id'}, inplace=True)
df

,exchange_id,ticker_id,exchange_token_balance (cryptocurrency),exchange_value (USD),one_day_change (cryptocurrency),seven_day_change (cryptocurrency),thirty_day_change (cryptocurrency)
0,1,10001,421388.0000,1.283546e+10,-7270.97,4391.070000,51783.360000
1,2,10001,200979.0000,6.121802e+09,-587.35,6746.140000,7061.800000
2,3,10001,197720.0000,6.022552e+09,1308.95,-9630.410000,-38164.240000
3,4,10001,39552.6500,1.204769e+09,-97.58,-297.110000,-441.090000
4,5,10001,30279.0700,9.222970e+08,-157.83,242.440000,-11857.040000
...,...,...,...,...,...,...,...
338,65,10016,1.7910,5.462647e+04,0.00,0.000000,0.000000
339,53,10016,1.7650,5.383758e+04,0.00,0.000000,0.600400
340,41,10016,1.1030,3.364483e+04,0.00,0.016580,-0.017790
341,15,10016,1.0050,3.066104e+04,0.00,0.000000,0.000000
342,34,10016,0.7176,2.189009e+04,0.00,-0.001969,-0.002069

In [12]:
df.to_csv('EXCHANGE_DATA.csv', index=False)

# DIM_EXCHANGE TABLE CREATION

In [22]:
col_lst = list(df.columns)
col_lst

['ticker_name',
 'exchange_name',
 'exchange_token_balance (cryptocurrency)',
 'exchange_value (USD)',
 'one_day_change (cryptocurrency)',
 'seven_day_change (cryptocurrency)',
 'thirty_day_change (cryptocurrency)',
 'exchange_id',
 'symbol',
 'TICKER_ID']

In [24]:
# get rid of all columns except for exchange_id and exchange_name
col_lst = ['exchange_name', 'exchange_id']
df_distinct = df_distinct[col_lst]

In [25]:
df_distinct

           exchange_name  exchange_id
0                Binance            1
1               Bitfinex            2
2              OKX(OKEx)            3
3              Coincheck            4
4    Crypto.com Exchange            5
..                   ...          ...
224                 BTSE           65
226               FTX US           66
246                 Exmo           67
286                Bibox           68
317                   ZB           69

[69 rows x 2 columns]

In [26]:
df_distinct.to_csv('DIM_EXCHANGE.csv', index=False)